<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en" >
<head>


    <title>Blogging app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial;
            font-size: 17px;
        }

        .container {
            position: relative;
            max-width: 1000px;
            margin: 0 auto;
        }

        .container img {vertical-align: middle;}

        .container .content {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0); /* Fallback color */
            background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
            color: #f1f1f1;
            width: 97%;
            padding: 170px;
        }
    </style>




</head>
<body>


<nav class="navbar navbar-inverse">
    <div sec:authorize="hasRole('ROLE_ADMIN')" class="container-fluid">
        <div class="navbar-header">
            <a style="color: azure" class="navbar-brand" href="#">Admin Deshboard  </a>
        </div>

        <ul class="nav navbar-nav">

            <li ><a href="/userslist">Users List</a></li>

            <li><a href="/create-admin">Create Admin Account</a></li>
            <li><a href="/blog-posts">User's BlogPosts</a></li>
            <li ><a href="/adminlist">Admins List</a></li>

        </ul>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"  sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/settings">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>

    </div>



    <div sec:authorize="hasRole('ROLE_USER')" class="container-fluid">
        <div class="navbar-header">
            <a style="color: azure" class="navbar-brand" href="#">Blogging app</a>
        </div>

        <ul class="nav navbar-nav">

            <li ><a href="/blog-homepage">Approve All BlogPost </a></li>

            <li><a href="/create-blogpost">Create new BlogPost</a></li>
            <li><a href="/my-post">My Approve Post</a></li>
            <li><a href="/pending-post"> My Pending Post</a></li>

        </ul>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"  sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/settings">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>

    </div>



    <div sec:authorize="!isAuthenticated()" class="container-fluid">
        <div class="navbar-header">
            <a style="color: azure" class="navbar-brand" href="#">Blogging app</a>
        </div>

        <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"  sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/settings">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>

    </div>

</nav>

<div class="container">
   welcome to this system
</div>

</body>
</html>

